<div class="row">

  <form *ngIf="!requestSent" class="col-md-4 offset-md-4" (ngSubmit)="onSubmit()"
        [formGroup]="forgotPasswordForm">
    <div class="form-group">
      <label class="col-12 col-form-label">Username</label>
      <input class="form-control" required formControlName="username">
      <div class="col-6 text-danger"
           *ngIf="username.invalid && (username.dirty || username.touched || forgotPasswordForm.touched)">
        Required
      </div>
    </div>

    <div class="form-group">
      <button  class="btn btn-success btn-block" type="submit" [disabled]="sendingRequest">Reset password</button>
    </div>
  </form>

  <div class="col-md-4 offset-md-4">
    <div *ngIf="requestSent" class="alert alert-success" role="alert">An email has been set with instructions on how to reset your password.</div>
  </div>

</div>