/* app css stylesheet */

.view-animate {
    opacity: 1;
}
.view-animate.ng-enter,
.view-animate.ng-leave {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.view-animate.ng-enter {
    opacity: 0;
}
.view-animate.ng-enter-active {
    opacity: 1;
}
.view-animate.ng-leave {
    opacity: 1;
}
.view-animate.ng-leave-active {
    display: none;
    opacity: 0;
}