extends layout

block content
	br
	div
		| Notes that this only returns the first 5 scores for a game.
		a(href="/games?allScores=true")  view all scores

	each game in games

		div
			img(src="http://sifty.tk/hiscores/titles/#{game.name}.png" style="position:absolute; margin-left:-280px;")
			h3
				a(href="/games/#{game.name}") #{game.fullName} (#{game.name})
			include _scores