extends layout

block content
	br
	div
		| Notes that this only returns the first 5 scores for a game.
		a(href="/games?allScores=true")  view all scores
		br
		a(href="/games?hasRawScores=true")  view missing games with raw scores

	each game in games
		div.row
			div.col-md-4(style="margin-top: 21px;")
				img(src="http://sifty.tk/hiscores/titles/#{game.name}.png" style="width:100%")
			div.col-md-8
				h3
					a(href="/games/#{game.name}") #{game.fullName} (#{game.name})
				include _scores