extends layout

block content

	if game === null
		div No game found
	else
		div.row
			h2 #{game.fullName} (#{game.name})
			div.col-md-4(class="titleImg" )
				img(src="http://sifty.tk/hiscores/titles/#{game.name}.png" style="width:100%")
			div.col-md-8
				
				include _scores