extends layout

block content
	h1 Mame Highscores
	
	form(action='/games', method='get')
		div Select game to view scores
		select(name='game')
			each val in games
				option(value='#{val.name}') #{val.fullName}
		br
		input(type='submit', value="Go")



