extends layout

block content
	h1= title
	p Upload a hiscore file
	form(action='/games/upload', method='post', enctype='multipart/form-data')
		input(type='file', name='game')
		br
		input(type='text', name='gamename', placeholder='Enter optional game name') 
		span If the game name is different from the what the file is named, enter it here
		br
		input(type='submit')
	br
	a(href='/games') All Games
	br
	br
	form(action='/games', method='get')
		div Select game to view scores
		select(name='game')
			each val in games
				option(value='#{val.name}') #{val.fullName}
		input(type='submit')



