extends layout

block content
	h1= title

	form(action='/scores/upload', method='post', enctype='multipart/form-data')
		input(type='file', name='game')
		br
		input(type='text', name='gamename', placeholder='Enter optional game name')
		br
		input(type='submit')

