extends layout

block content	
	br
	a(href="/user/create") New User
	br
	br
	table.table.table-striped
		tr
			th User Name
			th Aliases
			each user in users	
				tr
					td 
						a(href="users/#{user._id}") #{user.userName}
					td= user.aliases