extends layout

block content	

	h2 Create User

	form.form-horizontal(role="form", action='/user/create', method='post')
		.form-group
			label.col-sm-2.control-label User Name
			.col-sm-10
				input.form-control(type='text', name='userName')
		.form-group
			label.col-sm-2.control-label Email
			.col-sm-10
				input.form-control(type='text', name='email')
		.form-group
			label.col-sm-2.control-label Aliases (comma seperated)
			.col-sm-10
				input.form-control(type='text', name='aliases') 
		.form-group
			.col-sm-offset-2.col-sm-10
				input.btn.btn-default(type='submit')