<h2> {{user.username}} </h2>
<h4> Email {{user.email}}</h4>
<h4> Points {{user.points}}</h4>

<form class="form-horizontal" role="form" (ngSubmit)="onInviteSubmit()" #inviteForm="ngForm">
  <input name="invite_email" type="text" placeholder="invite email">
  <button name="Invite">Invite</button><br>
  <a [href]="inviteLinkDisplay">{{inviteLinkDisplay}}</a>
</form>

<form class="form-horizontal" role="form" (ngSubmit)="onSubmit()" #userForm="ngForm">
  <div class="form-group">
    <h4><label class="col-sm-2 control-label">Aliases</label></h4>
    <div class="col-sm-10">
      <tag-input [ngModel]='aliases' [identifyBy]="'id'" [displayBy]="'name'" (onAdd)="onAliasAdded($event)" (onRemove)="onAliasRemoved($event)"
                 theme='bootstrap' name="aliases"></tag-input>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
</form>


