
<div class="row">


  <div class="col-md-5" style="font-family: courier, monospace" >
    <span ng-repeat="b in rawscore.byteArray track by $index"  ng-mouseup="updateSelected()"
        >{{b}} <br ng-if="($index + 1) % 16 == 0"></span>
  </div>

  <div class="col-md-2" style="font-family: courier, monospace">
    <span ng-repeat="b in asciiDecoded track by $index"
          >{{b}}<br ng-if="($index + 1) % 16 == 0"></span>
  </div>

  <div class="col-md-3">

    <table class="table">
      <tr>
        <th>Format</th>
        <th>Value</th>
      </tr>
      <tr ng-repeat="(name, value) in decodings">
        <td>{{name}}</td>
        <td>{{value}}</td>
      </tr>
    </table>


    <h3>0x{{selectedBytes}}</h3>

  </div>
</div>

<div class="row">
  <h3>Edit Mapping <button ng-click="decodeScores()">Decode</button></h3>
  <div class="col-md-6">
    <textarea style='width: 100%; height: 500px' ng-model="decodeMapping"></textarea>
  </div>
  <div class="col-md-6">
    <pre>{{decodedScores}}</pre>
  </div>
</div>
<div class="row">

</div>
