<div ng-if="game == null">No game found</div> 

<div ng-if="game != null">

	<div class="row">
		<h2 style="margin-bottom: 50px">{{game.full_name}} ({{game.name}}) <small>[{{game.year}}]</small></h2>

		<div class="col-md-4 titleImg">
				<img ng-src="{{game.imgUrl}}" style="width:100%" />
		</div>

    <div class="col-md-8" ng-if="!game.has_mapping">
      The game does not currently have a decoding for the high score file<br>
      <a href='#/games/{{game.id}}/decode'>Edit Decoding</a>
    </div>


		<div class="col-md-8" ng-if="game.has_mapping">
			<table class="table table-striped">
				<tr>
          <th></th>
          <th>Rank</th>
          <th>Machine</th>
          <th>Name</th>
					<th style='text-align:right'>Score</th>
					<th style='text-align:right'>When set</th>
				</tr>
				<tr ng-repeat='score in scores'>
          <td><a href="" ng-if="score.name === '' || score.name === null" ng-click="openClaimScore(score)"><span class="glyphicon glyphicon-pencil"></span></a></td>
          <td>{{score.rank}}</td>
          <td>{{score.machine.name}}</td>
					<td>
						<a ng-if="score.alias != null" href='#/users/{{score.alias.user}}'>{{score.name}}</a>
						<span ng-if="score.alias == null">{{score.name}}</span>
					</td>
					<td style='text-align:right'>{{score.score}}</td>
					<td style='text-align:right'><span am-time-ago="score.createdAt"></span></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row" ng-if="game.has_mapping" ng-repeat="game in clones">
		<h2><a href="#/games/{{game.id}}">{{game.full_name}} ({{game.name}})</a></h2>
		
		<div class="col-md-12">
			<table class="table table-striped">
				<tr>
          <th></th>
          <th>Rank</th>
          <th>Name</th>
					<th style='text-align:right'>Score</th>
					<th style='text-align:right'>When set</th>
				</tr>
				<tr ng-repeat='score in game.scores'>
          <td><a ng-if="score.name === '' || score.name === null" ng-click="openClaimScore(score)"><span class="glyphicon glyphicon-pencil"></span></a></td>
          <td>{{score.rank}}</td>
					<td>
						<a ng-if="score.alias != null" href='#/users/{{score.alias.user}}'>{{score.name}}</a>
						<span ng-if="score.alias == null">{{score.name}}</span>
					</td>
					<td style='text-align:right'>{{score.score}}</td>
					<td style='text-align:right'><span am-time-ago="score.createdAt"></span></td>
				</tr>
			</table>
		</div>
	</div>
</div>


<script type="text/ng-template" id="score-claim.html">
  <div class="modal-header">
    <h3 class="modal-title">Enter your alias</h3>
  </div>
  <div class="modal-body">
    <input type="text" name="score_name" ng-model="score.name" required>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>