<h2> {{user.username}} </h2>
<h4> Email: {{user.email}} </h4>
<h4> Aliases: <span ng-repeat="alias in user.aliases">{{alias.name}}{{$last ? '' : ', '}}</span></h4>
<!--<h4> Points: {{user.points}}</h4>-->

<!-- no notifications for now -->
<!--<div class="row">-->
  <!--<button type="button" class="btn btn-default" ng-click="enableNotifications()">Enable Notifications</button>-->
<!--</div>-->

<a href="/#/users/{{user.id}}/machine-create">Add Arcade Machine</a><br>
<a href="/#/users/{{user.id}}/group-create">Create Group</a><br>

    <tabset>
      <tab heading="Top Scores">
        <div>
          <table class="table table-striped">
            <tr>
              <th>Game</th>
              <th>Top Rank</th>
              <th>Top Score</th>
            </tr>
            <tr ng-repeat="game in topGames">
              <td><a href="#/games/{{game.id}}">{{game.full_name}}</a></td>
              <td>{{game.top_score.rank}}</td>
              <td>{{game.top_score.score}}</td>
            </tr>
          </table>
        </div>
      </tab>
      <tab heading="Aliases">
        <div>
          <table class="table table-striped">
            <tr>
              <th>Alias</th>
              <th>Machine</th>
              <th>Group</th>
            </tr>
            <tr ng-repeat="usermachine in usermachines">
              <td>{{usermachine.alias}}</td>
              <td><a href="#/machines/{{usermachine.machine.id}}">{{usermachine.machine.name}}</a></td>
              <td><a href="#/groups/{{usermachine.group.id}}">{{usermachine.group.name}}</a></td>
            </tr>
          </table>
        </div>

      </tab>
      <tab heading="Groups">
        <div>
          <table class="table table-striped">
            <tr>
              <th>Group</th>
              <th>Description</th>
              <th>Date Created</th>
            </tr>
            <tr ng-repeat="usergroup in usergroups">
              <td><a href="#/groups/{{usergroup.group.id}}">{{usergroup.group.name}}</a></td>
              <td>{{usergroup.group.description}}</td>
              <td>{{usergroup.group.createdAt}}</td>
            </tr>
          </table>
        </div>

      </tab>
    </tabset>

