<h2> {{user.username}} </h2>
<h4 ng-if="user.email"> Email: {{user.email}} </h4>
<h4> Aliases: <span ng-repeat="alias in user.aliases">{{alias.name}}{{$last ? '' : ', '}}</span></h4>
<!--<h4> Points: {{user.points}}</h4>-->

<!-- no notifications for now -->
<!--<div class="row">-->
  <!--<button type="button" class="btn btn-default" ng-click="enableNotifications()">Enable Notifications</button>-->
<!--</div>-->

<a href="/#/users/{{user.id}}/machine-create">Add Arcade Machine</a><br>
<a href="/#/users/{{user.id}}/group-create">Create Group</a><br>
<a href="" ng-click="openJoinGroup(user)">Join Group</a><br>

    <tabset>
      <tab heading="Top Scores">
        <div>
          <table class="table table-striped">
            <tr>
              <th>Game</th>
              <th>Top Rank</th>
              <th>Top Score</th>
            </tr>
            <tr ng-repeat="game in topGames">
              <td><a href="#/games/{{game.id}}">{{game.full_name}}</a></td>
              <td>{{game.top_score.rank}}</td>
              <td>{{game.top_score.score}}</td>
            </tr>
          </table>
        </div>
      </tab>
      <tab heading="Aliases">
        <button ng-click="openAddAlias(user)">Add Alias</button>
        <div>
          <table class="table table-striped">
            <tr>
              <th>Alias</th>
              <th>Machine</th>
            </tr>
            <tr ng-repeat="usermachine in usermachines">
              <td>{{usermachine.alias}}</td>
              <td><a href="#/machines/{{usermachine.machine.id}}">{{usermachine.machine.name}}</a></td>
            </tr>
          </table>
        </div>

      </tab>
      <tab heading="Groups">
        <div>
          <table class="table table-striped">
            <tr>
              <th>Group</th>
              <th>Description</th>
              <th>Date Created</th>
            </tr>
            <tr ng-repeat="usergroup in usergroups">
              <td><a href="#/groups/{{usergroup.group.id}}">{{usergroup.group.name}}</a></td>
              <td>{{usergroup.group.description}}</td>
              <td>{{usergroup.group.createdAt}}</td>
            </tr>
          </table>
        </div>

      </tab>
    </tabset>

<script type="text/ng-template" id="user-addalias.html">
  <div class="modal-header">
    <h3 class="modal-title">New Alias</h3>
  </div>
  <div class="modal-body form-horizontal">
    <input class="form-control" type="text" name="alias" ng-model="alias" required placeholder="Alias"><br>
    <label>Machine</label><select class="form-control" name="machine" ng-model="selectedMachine" required ng-options="machine.name for machine in machines" ></select><br>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>

<script type="text/ng-template" id="user-joingroup.html">
  <div class="modal-header">
    <h3 class="modal-title">Join Group</h3>
  </div>
  <div class="modal-body form-horizontal">
    <label>Groups</label><select class="form-control" name="group" ng-model="group" ng-options="group.name for group in groups" required></select><br>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-warning" ng-click="cancel('cancel')">Cancel</button>
  </div>
</script>