<h2>Create User</h2>

<form class="form-horizontal" role="form">
 <div class="form-group">
   <label class="col-sm-2 control-label">User Name</label>
   <div class="col-sm-10">
     <input class="form-control" ng-model="user.username" />
   </div>
 </div>
 <div class="form-group">
   <label class="col-sm-2 control-label">Email</label>
   <div class="col-sm-10">
     <input class="form-control" ng-model="user.email"/>
   </div>
 </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">New Password</label>
    <div class="col-sm-10">
      <input class="form-control" ng-model="user.password"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Repeat Password</label>
    <div class="col-sm-10">
      <input class="form-control" ng-model="user.repeatPassword"/>
    </div>
  </div>
 <div class="form-group">
   <label class="col-sm-2 control-label">Aliases (comma seperated)</label>
   <div class="col-sm-10">
     <input class="form-control" ng-model="user.aliases"/>
   </div>
 </div>
 <div class="form-group">
   <div class="col-sm-offset-2 col-sm-10">
     <button class="btn btn-default" ng-click="update(user)">Save</button>
   </div>
 </div>
</form>
