<table class="table table-striped" cg-busy="loadingPromise">
  <tr>
    <th> Game</th>
    <th> Top Name</th>
    <th> Top Score</th>
    <th> Set</th>
  </tr>
  <tr *ngFor="let game of games">
    <td>
      <!--<div *ngIf="game.clone_of"><a routerLink="/games/{{game.clone_of}}">{{game.full_name}}</a></div>-->
      <div><a routerLink="/games/{{game.id}}">{{game.full_name}} ({{game.name}})</a></div>
    </td>
    <td *ngIf="game.topScore">
      <!--<div *ngIf="game.topScore.name"><a routerLink="/users/{{game.top_scorer.id}}">{{game.topScore.name}}</a></div>-->
      <div *ngIf="game.topScore.name">{{game.topScore.name}}</div>
    </td >
    <td *ngIf="game.topScore">{{game.topScore.score}}</td>
    <td *ngIf="game.topScore">{{game.topScore.createdAt | amTimeAgo}}</td>
    <td *ngIf="!game.topScore"></td>
    <td *ngIf="!game.topScore"></td>
    <td *ngIf="!game.topScore"></td>
  </tr>
</table>
