
<h1>Group</h1>

Name: {{group.name}}<br>
Invite code: {{group.invite_code}}

<h1>Machines</h1>

<div class="alert alert-primary" role="alert">
  <p>To upload high score files. Post to <strong>{{host}}/api/v1/game/upload/[api key]</strong></p>
  <p>Tutorial coming soon</p>
</div>

<button class="btn btn-success" routerLink="/machine">New</button>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>API Key</th>
  </tr>
  <tr *ngFor="let machine of machines">
    <td><a href='#/machine/{{machine.id}}'>{{machine.name}}</a></td>
    <td>{{machine.description}}</td>
    <td>{{machine.api_key}}
      <br>
      <small class="text-muted">{{host}}/api/v1/game/upload/{{machine.api_key}}</small>
    </td>
  </tr>
</table>
