<h2> {{user.username}} </h2>


<h4 *ngIf="user.userGroups.length"> Aliases: <span  *ngFor="let alias of user.userGroups[0].aliases; let last = last">{{alias.name}}{{last ? '' : ', '}}</span></h4>
<h4> Points: {{user.points}}</h4>


<div style="margin-top: 20px">
  <h3>Games with scores</h3>

  <table class="table table-striped">
    <tr>
      <th>Game</th>
      <th>Top Rank</th>
      <th>Top Score</th>
    </tr>
    <tr *ngFor="let game of games">
      <td><a href="#/games/{{game.id}}">{{game.full_name}}</a></td>
      <td>{{game.scores[0].rank}}</td>
      <td>{{game.scores[0].score}}</td>
    </tr>
  </table>
</div>

