<form class="col-sm-12"  role="form" (ngSubmit)="resetPasswordForm.valid && onChangePasswordSubmit()"
      [formGroup]="resetPasswordForm">


  <div class="form-group form-row " style="align-items:center;">
    <label class="col-12 col-form-label">New password</label>
    <input class="form-control col-12 col-md-6" required type="password"
           formControlName="newPassword"
    >
    <div class="col-6 text-danger" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
      Required
    </div>
    <div class="col-6 text-danger" *ngIf="newPassword.value !== '' && resetPasswordForm.errors?.passwordsMatch">
      Passwords do not match
    </div>
  </div>

  <div class="form-group form-row" style="align-items:center;">
    <label class="col-12 col-form-label">Confirm new password</label>
    <input class="form-control col-12 col-md-6" required type="password"
           formControlName="repeatNewPassword">
    <div class="col-6 text-danger"
         *ngIf="repeatNewPassword.invalid && (repeatNewPassword.dirty || repeatNewPassword.touched)">
      Required
    </div>
  </div>


  <div class="form-group row">
    <button type="submit" class="btn btn-default" [disabled]="resetPasswordForm.invalid || isSaving" >Update password</button>
  </div>

</form>
